.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100px;
  background-color: rgb(224, 233, 248);
  border-radius: 20px;
  position: relative;
  left: 25%;
  margin-top: 50px;
}
