.introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: rgb(240, 244, 247);
  gap: 100px;
  .portrait {
    display: flex;
    flex-direction: column;
    img {
      object-fit: cover;
      border-bottom: 4px solid black;
    }
  }
  .desc {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      gap: 10px;
      .icon {
        padding-top: 4px;
      }
      .words {
        color: rgb(33, 150, 243);
      }
    }
    h1 {
    }
    span {
      text-align: justify;
      border: 1px solid rgb(33, 150, 243);
      border-radius: 20px;
      padding: 20px;
      padding-bottom: 50px;
      font-size: 12px;
    }
  }
}
