.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: rgb(236, 240, 243);
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(203, 203, 203);
  @media (max-width: 768px) {
    padding-left: 20px;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 768px) {
      gap: 10px;
    }

    .pic {
      border-radius: 50%;
      box-shadow: 0 0 10px 5px rgb(219, 219, 219);
      @media (max-width: 768px) {
        width: 30px;
      }
    }
    span {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  .right {
    padding-right: 40px;
    @media (max-width: 768px) {
      padding-right: 10%;
    }

    button {
      width: 150px;
      height: 40px;
      border: none;
      font-size: 14px;
      font-weight: 700;
      background: linear-gradient(40deg, #dcdcdc, #f7f7f7);
      border-radius: 5px;
      box-shadow: 2px 2px 10px 4px rgb(215, 215, 215);
      cursor: pointer;
      color: rgb(246, 9, 81);

      @media (max-width: 768px) {
        width: 100px;
        height: 30px;
        font-size: 10px;
        border-radius: 3px;
      }
    }
    .modal {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100%; /* 或设置具体宽度，比如 300px */
    max-width: 90%; /* 确保不会超出屏幕 */
    margin: 0 auto; /* 居中 */
    padding-top: 100px;
  }
}
