.header {
  display: flex;
  gap: 2rem;
  background-color: rgb(237, 238, 240);
  padding-left: 10vw;
  padding-top: 20px;
  padding-bottom: 20px;
  .home {
    color: rgb(40, 40, 40);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding-right: 2rem;
    border-right: 2px solid rgb(40, 40, 40);
  }
  .interests {
    color: rgb(41, 41, 41);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
}
